@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  background-image: linear-gradient(
    to right,
    rgba(98, 19, 126, 0),
    rgb(59, 20, 72)
  );
}

.header {
  margin-bottom: 20px;
}
.title {
  text-align: center;
  font-size: 2rem;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  opacity: 0.7;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.8);
}

.btn:hover {
  opacity: 1;
}

.btn-block {
  display: block;
  width: 100%;
}

.contact {
  background-color: antiquewhite;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}

.contact h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 12px;
  border-radius: 5px;
}

/* Chrome, Safari, Edge, Opera */
.form-control input::-webkit-outer-spin-button,
.form-control input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.form-control input[type="number"] {
  -moz-appearance: textfield;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.about {
  text-align: center;
}

.trash {
  opacity: 0.5;
}
.trash:hover {
  opacity: 1;
}
